.logo,.icon,.header1{
    display:inline-block;
}

.img1{
    height: 100%;
    width: 100%;
}
.img2{
    height:80%;
    width: 80%;
    
}

.header1{
    width:100%;
    height:auto;
}
.logo {
    float:left; 
    /* background:Red; */
    width:20%;
   
}
.slogan{
    float:left; 
    width:50%;
    height:70%;
    margin-left: 15%;
    margin-top: 2%;
}
.icon{
    float:right;  
}


  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 250px;
    margin: auto;
    text-align: center;
    float:left;

  }
  
  .title {
    color: grey;
    font-size: 18px;
  }
  
  button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  a {
    text-decoration: none;
    font-size: 22px;
    color: black;
  }
  
  button:hover, a:hover {
    opacity: 0.7;
  }

  .card1 {
    
    
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: fit-content;
    height:auto;

    padding-top: 3%;
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 3%;

    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
    padding-left:20%;
    padding-right:20%;
    
  }

  .left{
  
    float:left;
    width:50%;
  }
  .right{
    padding-top: 2%;
    float:right;
    width:50%;
  }

 
span {
    display: block;
    overflow: hidden;
    padding: 0 4px 0 6px
}
input {
    width: 70%;
    float:right;
}
.Changepp{
    
    width:200%;
    align-content: center;


}
.profile{
    background-color: beige;
    align-content: center;
}
 
.new{
    float: left;
    
}