.logo,.icon,.header1{
    display:inline-block;
}

.img1{
    height: 100%;
    width: 100%;
}
.img2{
    height:80%;
    width: 80%;
    
}

.header1{
    width:100%;
    height:auto;
}
.logo {
    float:left; 
    /* background:Red; */
    width:20%;
   
}
.slogan{
    float:left; 
    width:50%;
    height:70%;
    margin-left: 15%;
    margin-top: 2%;
}
.icon{
    float:right;  
}
.container{
  margin-top: 20px;
}
.query{
    margin-left: 25%;
    margin-right: 25%;
}
button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }

  * {
    box-sizing: border-box;
  }
  
  /* Style the search field */
  form.example input[type=text] {
    padding: 10px;  
    margin-left: 25%;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 40%;
    background: #f1f1f1;
  }
  
  /* Style the submit button */
  form.example button {
    float: left;
    width: 10%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
  }
  
  form.example button:hover {
    background: #0b7dda;
  }
  
  /* Clear floats */
  form.example::after {
    content: "";
    clear: both;
    display: table;
  }

  .popular,.active{
    margin-top: 3%;
  }

  .popular-table,.active-table {
    text-align: center;
  }

  .dropbtn {
    background-color: #000000;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {
    background-color: #000000;
  }

  .desc{
      position: relative;
      margin-top:1%;
      padding: 5%;
      background-color:#f1f1f1;
  }

  .tip {
    width: 0px;
    height: 0px;
    position: absolute;
    background: transparent;
    border: 10px solid #ccc;
  }
  
  .tip-up {
    top: -25px; /* Same as body margin top + border */
    left: 10px;
    border-right-color: transparent;
    border-left-color: transparent;
    border-top-color: transparent;
  }
  
  .tip-down {
    bottom: -25px;
    left: 10px;
    border-right-color: transparent;
    border-left-color: transparent;
    border-bottom-color: transparent;  
  }
  
  .tip-left {
    top: 10px;
    left: -25px;
    border-top-color: transparent;
    border-left-color: transparent;
    border-bottom-color: transparent;  
  }
  
  .tip-right {
    top: 10px;
    right: -25px;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;  
  }
  
  .dialogbox .body {
    position: relative;
    max-width: 50%;
    height: auto;
    margin: 20px 10px;
    padding: 5px;
    background-color: #DADADA;
    border-radius: 5px;
    border: 5px solid #ccc;
  }
  
 .body .message {
    min-height: 30px;
    border-radius: 3px;
    
    line-height: 1.5;
   
  }

  .comments{
      margin-left:5% ;
  }

  .btn {
    background: #79DAFF;
    height: 100px;
    width: 100px;
    border-radius: 50px;
    text-align: center;
    line-height: 100px;
    text-shadow: 1px 1px 1px #1684B2;
    margin: 100px auto;
    overflow: hidden;
    position: relative;
    box-shadow: 0 10px 10px #134;
  }
  
  .gloss {
    background: #FFF;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin-left: -25px;
    position: absolute;
    top: -100px;
    opacity: 0.3;
  }
  
  .down {
    background: #FF92A9;
    text-shadow: 1px -1px 1px #FF526F;
    box-shadow: 0 -10px 10px #311;
  }
  .fa {
    font-size: 50px;
    cursor: pointer;
    user-select: none;
 }
 .fa-thumbs-up {
    color: rgb(35, 35, 78);
 }
 .fa-thumbs-down {
    color: rgb(206, 125, 125);
 }
 .fa:hover {
    transform: scale(1.2);
 }  
 #addcomment{
     background-color:#dadada;
     border-color: #dadada;
 }