.logo,.icon,.header1{
    display:inline-block;
}

.img1{
    height: 100%;
    width: 100%;
}

.img2{
    height:80%;
    width: 80%;
    
}

.header1{
    width:100%;
    height:auto;
}
.logo {
    float:left; 
    /* background:Red; */
    width:20%;
   
}
.slogan{
    float:left; 
    width:50%;
    height:70%;
    margin-left: 15%;
    margin-bottom: 1%;
}
.icon{
    float:right;  
}
.container{
  margin-top: 20px;
}
.query{
    margin-left: 25%;
    margin-right: 25%;
}
.content{
    display:inline-block;
}
button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }

  * {
    box-sizing: border-box;
  }
  
  /* Style the search field */
  form.example input[type=text] {
    padding: 10px;  
    margin-left: 25%;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 40%;
    background: #f1f1f1;
  }
  
  /* Style the submit button */
  form.example button {
    float: left;
    width: 10%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
  }
  
  form.example button:hover {
    background: #0b7dda;
  }
  
  /* Clear floats */
  form.example::after {
    content: "";
    clear: both;
    display: table;
  }

  .popular,.active{
    margin-top: 3%;
  }

  .popular-table,.active-table {
    text-align: center;
  }
  .container1 {
    width:40%;
    
    display:inline-block;
    /* background-color:#f6f7fc; */
    height: 100%;
    padding-bottom:20px;
    padding-left: 5%;
    padding-right: 5%;
    margin-left: 10%;
    /* padding-top:1%; */
  }
  
  .new{
      position: relative;
      left:10%;
      bottom:30%;
      width:70%;
      height:fit-content;
      align-content: center;
      border-radius: 0.5px;
      border-color: black;
      border-width:0.5px;
      background-color: #fff;
      padding: 20px;
      
  }
  input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  
  button {
    background-color: #000000;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  .content404{
    /* margin-left:25%; */
    margin-top:10%;
    text-align: center;
  }
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {
    background-color: #000000;
  }

  .valid {
    color: green;
  }

  .valid:before {
    position: relative;
    left: -35px;
    margin-left: 50px;
    /* content: "&#10040;"; */
  }

  .invalid {
    color: red;
  }

  .invalid:before {
    position: relative;
    left: -35px;
    margin-left: 50px;
    /* content: "&#10060;"; */
  }