.logo,.icon,.header1{
    display:inline-block;
}

.img1{
    height: 100%;
    width: 100%;
}
.img2{
    height:80%;
    width: 80%;
    
}

.header1{
    width:100%;
    height:auto;
}
.logo {
    float:left; 
    /* background:Red; */
    width:20%;
   
}
.slogan{
    float:left; 
    width:50%;
    height:70%;
    margin-left: 15%;
    margin-top: 2%;
}
.icon{
    float:right;  
}


  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 250px;
    margin: auto;
    text-align: center;
    float:left;
    height:auto;
  }
  
  .title {
    color: grey;
    font-size: 18px;
  }
  
  button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  a {
    text-decoration: none;
    font-size: 22px;
    color: black;
  }
  
  button:hover, a:hover {
    opacity: 0.7;
  }

  .card1 {
    
    
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: fit-content;
    height:750px;

    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;

    text-align: center;
    margin-top: 5%;
    margin-bottom: 2%;
    
  }

  .left{
    float:left;
    width:50%;
  }
  .right{
    float:right;
    width:50%;
  }

  * {box-sizing: border-box}

  .container {
    width: 100%;
    background-color: #ddd;
  }
  
  .skills {
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
  }
  
  .html {width: 90%; background-color: #04AA6D;}
  .css {width: 80%; background-color: #2196F3;}
  .js {width: 65%; background-color: #f44336;}
  .php {width: 60%; background-color: #808080;}

.update{
  float:right;
  width:20%;
  margin-right:1%;
 

}